.custom-item {
  height: 500px;
}

.custom-carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
}
